
.divForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://www.xtrafondos.com/wallpapers/resized/rick-y-morty-escapando-de-portal-9235.jpg?s=large");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.form {
  color:rgb(109, 255, 47);  
  border: 6px ridge rgb(109, 255, 47);
  border-radius: 20px;
  padding: 80px;
  background-color: rgba(0, 0, 0, 0.7);
}

.divInput {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.label {
  margin-right: 10px;
}